#aside {
  grid-area: aside;
  background-color: var(--background-color);
  height: 43.7em;
  width: 20em;
  z-index: 20;
}

#authors-container {
  text-align: center;
}

#authors-title {
  color: rgb(99, 99, 99);
  margin-bottom: 1.3em;
}

#author-span{
    color: rgb(99, 99, 99);
    cursor: pointer;
    position: relative;
    left: 3.5em;
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    height: 2.7em;
    max-width: 13em;
}

#author-image{
    height: 30px;
    width: 30px;
    background-color: aqua;
    border-radius: 50%;
    align-self: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#author-image img{
    height: 100%;
    width: 100%;
}

#author-name {
    font-weight: 400;
    align-self: center;
    margin: 0;
    font-size: .9em;
    margin-left: .8em;
}

#authors-container:has(#author-span:hover) #author-span:not(#author-span:hover){
    opacity: .8;
    transition: .2s;
    }

    /* book of the week section */
#books-container{
    /* background-color: aqua; */
    text-align: center;
    height: 21.3em;
}

#books-holder{
    overflow-y: scroll;
    height: 17.4em;
}

#books-holder::-webkit-scrollbar{
    appearance: none;
}

#books-title{
    color: rgb(99, 99, 99);
    margin-bottom: 1.3em;
}

.book-span{
    cursor: pointer;
    position: relative;
    left: 3.5em;
    height: 5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: .3em;
}

.book-image{
    align-self: center;
    height:75px;
    width: 60px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


.book-name{
    position: absolute;
    top : 1.5em;
    font-weight: 400;
    margin: 0;
    left: 5em;
    font-size: .9em;
    width: 9em;
    text-align: start;
}

.bookAuthor{
    margin: 0;
    color: grey;
    max-width: 20em;
    font-weight: 400;
    position:absolute;
    text-align: start;
    top: 5em;
    left: 6em;
    font-size: .8em;
}

#books-holder:has(.book-span:hover) .book-span:not(.book-span:hover){
    opacity: .8;
    transition: .2s;
    }
