@font-face {
  font-family: comfortaa-regular;
  src: url('./fonts/Comfortaa-Regular.ttf');
}

@font-face {
  font-family: comfortaa-semi-bold;
  src: url('./fonts/Comfortaa-SemiBold.ttf');
}

@font-face {
  font-family: comfortaa-bold;
  src: url('./fonts/Comfortaa-Bold.ttf');
}

@font-face {
  font-family: comfortaa-light;
  src: url('./fonts/Comfortaa-Light.ttf');
}

@font-face {
  font-family: comfortaa-regular;
  src: url('./fonts/Comfortaa-Regular.ttf');
}

@font-face {
  font-family: comfortaa-medium;
  src: url('./fonts/Comfortaa-Medium.ttf');
}


body {
  margin: 0;
  padding: 0;
  width: 96em;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
